@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --light-warning: #d97307;
  --soft-dark: #121619;
  --main: #fd9d3e;
  --main-transparent: #fd9d3e80;
  --bg-color: #f4f4f4;
  --br-rd: 25px;
  --light-dark: #242628;
  --light-dark-2: #2b2d2c;
  --ls: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* integrated style & reused code*/
.text-lightwarning {
  color: var(--light-warning);
}

.bigger-text {
  font-size: 9em;
  font-weight: bolder;
}

.big-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4em;
}

.small-text {
  font-size: 13px;
}

.divider {
  font-weight: lighter;
  border-top: 1.5px solid var(--light-dark);
}

.heading-sub {
  font-size: 16px;
  color: var(--main);
  font-family: "Pacifico", cursive;
  letter-spacing: var(--ls);
}

.title-sub {
  font-size: 30px;
  letter-spacing: var(--ls);
}

.viewmore-btn {
  background-color: var(--main);
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  padding: .75rem 1.25rem;
  transition: 0.5s;
  font-size: 15px;
  letter-spacing: 1px;
}

.viewmore-btn:hover {
  background-color: var(--white);
  color: var(--main);
  border: 1px solid var(--main);
}

.fa-times,.fa-bars,.fa-plus,.fa-minus{
  width: 21px;
}

.fa-times,.fa-plus,.fa-minus{
  font-size: 21px;
}


/* banner */

.banner-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 50px 0px;
}

.banner-heading {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 0;
}

/* banner > bootstrap breadcrumb restylish */
.banner-title .breadcrumb {
  background: none;
}

.banner-title .breadcrumb-item a {
  color: var(--white) !important;
  transition: 0.4s;
}

.banner-title .breadcrumb-item.active {
  color: var(--main) !important;
}
.banner-title .breadcrumb-item a:hover {
  color: var(--main) !important;
  text-decoration: none;
}

/* homeshowcase animation */

.active .home__showcase-1__text .home-big-text {
  animation: rotateInDownLeft;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.active .home__showcase-1__text .home-caption-quote {
  animation: rotateInUpLeft;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.active .home__showcase-2__text .home-big-text {
  animation: slideInRight;
  animation-fill-mode: both;
  animation-duration: 0.8s;
}

.active .home__showcase-2__text .home-caption-quote {
  animation: slideInRight;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.active .home__showcase-3__text .home-big-text {
  transform: translateY(0px);
  transition: all 1.5s;
  transition-delay: 0.5s;
}

.active .home__showcase-3__text .home-caption-quote {
  transform: translateY(0px);
  transition: all 1.5s;
  transition-delay: 0.3s;
}

@keyframes rotateInDownLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInUpLeft {
  0% {
    transform-origin: left bottom;
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }
}

.active .pizza-banner-1 {
  animation-duration: 1.5s;
  transform: translateX(-2000px);
  transition: all 1.5s;
  transition-delay: 1s;
}

.active .home__showcase-1__animate .pizza-first-position {
  transition: all 1.5s;
}

.active .home__showcase-1__animate .pizza-1 {
  transform: scale(100%);
  transition-delay: 2s;
}

.active .home__showcase-1__animate .pizza-2 {
  transform: scale(100%);
  transition-delay: 2.1s;
}
.active .home__showcase-1__animate .pizza-3 {
  transform: scale(100%);
  transition-delay: 2.2s;
}
.active .home__showcase-1__animate .pizza-4 {
  transform: scale(100%);
  transition-delay: 2.3s;
}
.active .home__showcase-1__animate .pizza-5 {
  transform: scale(100%);
  transition-delay: 2.4s;
}
.active .home__showcase-1__animate .pizza-6 {
  transform: scale(100%);
  transition-delay: 2.4s;
}

.active .pizza-banner-2 {
  animation: slideInLeft;
  transform: translateX(1000px);
  transition: all 1.5s;
  transition-delay: 1s;
}

.active .home__showcase-2__animate .pizza-first-position {
  animation: bounceInDown;
  transition: all 1.5s;
}

.active .home__showcase-2__animate .pizza-7 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2s;
  transition-delay: 2s;
}

.active .home__showcase-2__animate .pizza-8 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.1s;
  transition-delay: 2.1s;
}

.active .home__showcase-2__animate .pizza-9 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.2s;
  transition-delay: 2.2s;
}

.active .home__showcase-2__animate .pizza-10 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.3s;
  transition-delay: 2.3s;
}

.active .home__showcase-2__animate .pizza-11 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.3s;
  transition-delay: 2.3s;
}

.active .home__showcase-2__animate .pizza-12 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.4s;
  transition-delay: 2.4s;
}

.active .pizza-banner-3 {
  transition: all 1.5s;
  transition-delay: 1.5s;
  transform: translateY(-1000px);
}

.active .home__showcase-3__animate .pizza-first-position {
  animation: fadeInDown;
}

.active .home__showcase-3__animate .pizza-bg-2 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2s;
  transition-delay: 2s;
}
.active .home__showcase-3__animate .pizza-bg-3 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.2s;
  transition-delay: 2.2s;
}
.active .home__showcase-3__animate .pizza-bg-4 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  transition-delay: 2.5s;
}
.active .home__showcase-3__animate .pizza-bg-5 {
  transform: translateY(0px);
  animation-duration: 1.5s;
  animation-delay: 2.7s;
  transition-delay: 2.7s;
}

/* header */
.header {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2003;
  overflow: hidden;
}

.extend-nav .nav-link p{
  color: var(--white);

}

.header .navbar {
  margin: 0;
  padding: 0;
}

.pizza-nav .navbar-nav {
  background-color: var(--main);
}

.pizza-nav button:focus{
  outline: none;
}

.pizza-nav .nav-link {
  padding: .5rem 0;
}

.pizza-nav .navbar-collapse .nav-item {
  padding: 0.5rem;
  margin: 0;
  border-top: var(--warning) 1px solid;
}

.pizza-nav .nav-item:first-child {
  border: none;
}

.pizza-nav .header__dropdown-content_sm {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}

.pizza-nav .header__menu-list_sm {
  padding: 0;
  margin: 0;
}

.pizza-nav .header__menu-list_sm .nav-item{
  border-top: 1px solid var(--warning);

}

.pizza-nav .header__menu-list_sm ul {
  list-style: none;
}

.header__dropdown {
  height: inherit;
}

.header__dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  background-color: #f1f1f1;
  width: 100%;
  z-index: 1;
  border-top: 3px solid var(--main);
  padding: 2rem;
}

.header__dropdown-content:hover {
  display: block;
}
.header__menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px 10px;
  transition: 0.4s;
  margin-bottom: 10px;
}

.header__menu-item:hover {
  background-color: #d9730733;
  text-decoration: none;
}

.header__menu-item__img {
  width: 100px;
  height: 100px;
}

.header__menu-item__des {
  margin-left: 10px;
}

.header__menu-item__name {
  margin: 0px;
  text-transform: capitalize;
  color: var(--dark);
}

.header__menu-item__price {
  color: var(--main);
}

.header__menu-list {
  padding: 50px 20px;
}

.header__menu-list ul {
  list-style: square;
  color: var(--dark);
  text-transform: capitalize;
}

.header__menu-list li {
  margin-bottom: 10px;
}

.header__menu-list a {
  color: var(--dark);
  transition: 0.3s;
}

.header__menu-list li::marker {
  color: var(--main);
}

.header__menu-list a:hover {
  color: var(--main);
  text-decoration: none;
}

.pizza-logo{
  width: 80px;
}

/* #home__showcase navigator */

.home__left,
.home__right {
  position: absolute;
  top: 50vh;
  color: var(--main);
  font-size: 50px;
  z-index: 2000;
  cursor: pointer;
}

.home__left {
  left: 30px;
}

.home__right {
  right: 30px;
}

/* chef carousel custom navigator */

.chef__left,
.chef__right {
  position: absolute;
  top: 130px;
  color: var(--main);
  font-size: 50px;
  z-index: 2000;
  cursor: pointer;
}

.chef__left {
  left: -30px;
}

.chef__right {
  right: -30px;
}

/* header__cart-dropdown */

.header__cart-dropdown {
  position: relative;
  height: 60px;
}

.header__cart-dropdown-content {
  position: absolute;
  display: none;
  background-color: var(--white);
  z-index: 1;
  right: 10px;
  width: 220%;
  padding: 10px 20px;
  border-top: 3px solid var(--main);
  top: 60px;
}

.header__cart-item__cross-btn {
  position: absolute;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #888888;
  color: var(--white);
  right: 0;
  top: 15px;
  cursor: pointer;
}

.header__cart-item__cross-btn:hover {
  color: var(--white);
}

.header__cart-item {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 20px 20px 20px 0;
  border-bottom: 1px solid #ddd;
}

.header__cart-item .fa-times{
  font-size: 10px;
}

.header__cart-item__img {
  width: 100px;
  height: 100px;
}

.header__cart-item__para {
  margin-left: 10px;
}

.header__cart-item__title {
  margin: 0;
  margin-bottom: 5px;
}

.header__cart-item__price {
  color: #888888;
  margin-bottom: 10px;
}

.header__cart-item__qty-box {
  text-align: center;
  width: 50px;
  height: 30px;
  border: 1px solid #ddd;
  margin-left: 10px;
}

.header__cart-item__qty-box:focus {
  outline: none;
}

/* input arrow remove */

/* Chrome, Safari, Edge, Opera */
.header__cart-item-container input::-webkit-outer-spin-button,
.header__cart-item-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.header__cart-item-container input[type="number"] {
  -moz-appearance: textfield;
}

/* header__cart-total */
.header__cart-total {
  margin: 15px 0;
  text-transform: capitalize;
}

.header__cart-total__price {
  color: #888;
  font-weight: bolder;
}

/* header__cart-total-btn */
.header__cart-total-btn {
  margin: 0;
  text-transform: capitalize;
}

.header__cart-total-btn__btn {
  text-decoration: none;
  padding: 8px 18px;
  background-color: var(--main);
  color: var(--white);
  border-radius: 15px;
  border: 1px solid var(--main);
  transition: 0.4s;
  text-transform: uppercase;
}

.header__cart-total-btn__btn:hover {
  color: var(--main);
  background-color: var(--white);
  text-decoration: none;
}

.order-btn {
  font-size: 12px;
  border: 0;
  transition: 0.4s;
}

.order-btn:hover {
  color: var(--white) !important; /* Improtant is for bootstrap */
  background-color: var(--light-warning);
}

.color-switch:hover {
  color: var(--orange) !important;
}

.nav-item {
  text-transform: capitalize;
  margin-right:.25rem;
}

.header .navbar {
  padding: 8px 0 ;
}

/* # home */
.home::before {
  content: "";
  background-image: url("../img/home/chef-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}

.home {
  overflow: hidden;
  background-color: var(--soft-dark);
  padding: 25px 0px 0px 0px;
}

.home__showcase-1,
.home__showcase-2 {
  padding: 3rem 5px 1rem 5px;
  min-height: 30px;
  max-height: 100vh;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

.home__showcase-1__text,.home__showcase-2__text{
  text-align: center;
}

.home__showcase-3 {
  padding: 5rem 5px 0 5px;
  margin: 0;
  width: 100%;
  max-height: 100vh;
}

.home-row-fix {
  margin: 0px !important;
}

.home-big-text {
  display: block;
  font-size: 35px;
  letter-spacing: .5px;
}

.home__showcase-3__text .home-big-text {
  transform: translateY(-5000px);
}

.home__showcase-3__text .home-caption-quote {
  transform: translateY(-5000px);
}

.home-caption-quote {
  display: inline-block;
  font-size: 18px;
  color: var(--main);
  letter-spacing: .5px;
}

.pizza-banner-1,.pizza-banner-2 {
  position: relative;
  filter: drop-shadow(5px 5px 20px #000);
  max-width: 150px !important;
  margin: 0 auto;
  padding: 1rem 0 2rem 0;
}

.pizza-banner-1{
  right: -2000px;
}
.pizza-banner-2{
  left: -1000px;
}


.pizza-banner-3 {
  position: relative;
  margin: 0px auto;
  bottom: -1020px;
  max-width: 100% !important;
  padding:1rem 0 0 0;

}

.pizza-first-position {
  position: absolute;
  width: 40px !important;
}

.home-showcase-1 .pizza-first-position {
  filter: drop-shadow(5px 5px 5px #000);
}

.pizza-1,
.pizza-2,
.pizza-3,
.pizza-4,
.pizza-5,
.pizza-6 {
  transform: scale(0%);
}

.pizza-7,
.pizza-8,
.pizza-9,
.pizza-10,
.pizza-11,
.pizza-12,
.pizza-bg-2,
.pizza-bg-3,
.pizza-bg-4,
.pizza-bg-5 {
  transform: translateY(-5000px);
}
.pizza-1{
  right: 100px;
  top: 40px;
}
.pizza-2{
  top: 15px;
  left: 130px;
}
.pizza-3{
  top: 50px;
  left: 65px;
}
.pizza-4{
  right: 100px;
  bottom: 40px;
}
.pizza-5{
  right: 50px;
  bottom: 90px;
}
.pizza-6{
  right: 15px;
  bottom: 140px;
}
.pizza-7 {
  left: 160px;
  top: -50px;
}
.pizza-8 {
  left: 0px;
  bottom: 0px;
}

.pizza-9 {
  right: 65px;
  top: -35px;
}
.pizza-10 {
  right: 0;
  bottom: -30px;
}
.pizza-11 {
  right: 0px;
  top: 25px;
}
.pizza-12 {
  left: 45px;
  top: 0px;
}

.pizza-bg-2 {
  right: 0px;
  bottom: -170px;
}
.pizza-bg-3 {
  right: 0px;
  top: 0px;
}
.pizza-bg-4 {
  top: 20px;
  left: 400px;
}

.pizza-bg-5 {
  left: 60px;
  bottom: -120px;
}

/* services */
.services {
  background-color: var(--main);
}

.services__top-img {
  margin-top: -25px;
  width: 100%;
  z-index: 1;
}

.services__bottom-img {
  margin-bottom: -30px;
  width: 100%;
}

.services__card{
  padding: 0 2rem;
}

.services__caption {
  font-weight: bold;
  font-size: 22px;
  color: var(--dark);
}

.services__para{
  font-size: 14px;
} 

.services__order-icon {
  width: 80px;
}

.services__order-icon:hover {
  cursor: pointer;
}

/* #today-special */
.today-special{
  margin: 0;
}

.today-special__pizza-img img {
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 0.5s;
  border-radius: 50%;
}

.today-special__pizza-img img:hover {
  transform: scale(1);
  opacity: 1;
}

.today-special__pizza-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--dark);
}

.today-special__caption {
  font-size: 16px;
  letter-spacing: .5px;
  transition: 0.5s;
  color: var(--dark);
}

.today-special__caption:hover {
  text-decoration: none;
  color: var(--light-warning);
}

/* #menu */
.menu {
  background-color: var(--soft-dark);
  color: white;
}

.menu__menu-bottom {
  margin-bottom: -10px;
}

.menu__menu-item {
  transition: 0.5s;
  width: 130px;
}

.menu__menu-item:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.menu__menu-item__header {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: lighter;
  padding: 0;
  transition: 0.4s;
}
.menu__menu-item__header:hover {
  cursor: pointer;
  color: var(--light-warning);
}

.menu__menu-item__description {
  color: gray;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
  margin: 0 60px;
}

.menu__menu-item__price{
  font-size: 18px;
}

.menu__menu-tap {
  background-color: var(--light-dark-2);
  text-align: center;
}

.menu__menu-tap-item_active:hover {
  color: var(--white);
  background-color: var(--main);
  font-weight: bold;
}

.menu__menu-tap-item {
  display: inline-block;
  color: var(--white);
  min-width: 80px;
  min-height: 40px;
  padding: 0px 0px;
  font-size: 14px;
  transition: 0.5s;
  font-weight: bold;
  letter-spacing: var(--ls);
  line-height: 50px;
  margin: 0px;
  border: none;
  outline: none;
}

.menu__menu-tap:first-child,
.menu__menu-tap:last-child {
  border-radius: var(--br-rd);
}

.menu__menu-tap-item:hover {
  background-color: var(--main);
  font-weight: bold;
}

.menu__menu-tap-item:active {
  font-weight: bold;
}

.menu__menu-tap-item_active {
  background-color: var(--main);
  color: var(--white);
}

.menu__menu-tap-item:focus {
  box-shadow: none !important;
}

/* booking */

.booking__container {
  max-width: 380px;
  margin: 0;
  text-align: center;
}

.booking__des {
  line-height: 20px;
  letter-spacing: 0.5px;
  max-width: 370px;
  font-size: 14px;
  margin: 0 auto;
}

.booking__phone {
  background-color: black;
  color: white;
  border: 10px solid var(--main);
  transition: 0.3s;
  max-width: 250px;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
}

.booking__phone:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: var(--dark);
}

.booking__form .form-control {
  height: 50px !important;
}

.booking__form__title {
  font-size: 30px;
  letter-spacing: var(--ls);
}

.booking__book-btn {
  background-color: var(--dark);
  color: #ffffff;
  padding: .5rem 1.75rem; 
  transition: 0.3s;
  letter-spacing: var(--ls);
  font-weight: bold;
}

.booking__book-btn:hover {
  background-color: #ffffff;
  color: var(--dark);
  font-weight: bold;
  border: 1px solid var(--dark);
}

/* our chef */
.our-chef::before {
  content: "";
  background: url("../img/home/chef-bg.png") no-repeat center/cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home::before {
  content: "";
  background: url("../img/home/chef-bg.png") no-repeat center/cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
}

.our-chef {
  overflow: hidden;
  background-color: #121619;
  z-index: 1;
  position: relative;
  padding-bottom: 0;
}

.card-body {
  transition: 0.5s;
}

.card:hover .our-chef__chef-info > p {
  color: var(--main) !important;
}

.chef-top {
  margin-top: 0;
}

.chef-bottom {
  margin-bottom: -40px;
}

.our-chef__chef-name {
  transition: 0.4s;
}

.our-chef__chef-position {
  font-size: 15px;
  color: gray;
  transition: 0.4s;
}

/* latest-news */
.latest-news__img {
  width: 100%;
  transition: 0.5s;
}
.latest-news__content {
  position: relative;
  transition: 0.4s;
}

.latest-news__content:hover {
  position: relative;
  transform: translateY(-10px);
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
}

.latest-news__date {
  position: absolute;
  bottom: -27px;
  right: 28px;
  background-color: var(--main);
  color: var(--white);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.latest-news__date-container {
  position: absolute;
  bottom: -30px;
  right: 25px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--main-transparent);
}

.latest-news__title {
  color: var(--dark);
  letter-spacing: .5px;
  transition: 0.4s;
  font-size: 18px;
}
.latest-news__title:hover {
  color: var(--dark);
  cursor: pointer;
}

.latest-news__readmore {
  color: var(--light-warning);
  text-decoration: underline;
  font-size: 18px;
  transition: 0.4s;
}
.latest-news__readmore:hover {
  color: var(--dark);
}
/* customer-review */
.customer-review {
  background: var(--soft-dark);
}

.review-top {
  margin-top: 0;
  width: 100%;
}

.review-bottom {
  margin-bottom: -50px;
  width: 100%;
}

.customer-reviews__img {
  border: 5px solid var(--main);
  border-radius: 50%;
}

.customer-reviews__img-caption {
  color: var(--main);
  font-size: 20px;
}

.customer-reviews__customer {
  position: relative;
  font-size: 18px;
  letter-spacing: var(--ls);
  font-style: italic;
  font-weight: bold;
  text-align: center;
}


.customer-reviews__customer::after {
  content: " ";
  position: absolute;
  left: 46%;
  top: -4%;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid var(--white);
}

.customer-reviews__customer__text {
  color: var(--light-dark);
  line-height: 1.2;
}

.customer-reviews__customer__name {
  color: var(--light-warning);
  font-style: normal;
}

.customer-reviews__customer__job {
  font-size: 13px;
  font-weight: normal;
  text-transform: lowercase;
}

/* #about-us */
.about-us {
  height: 30%;
}
.about-us__content{
  text-align: center;
}
.about-us__description {
  width: auto;
  font-size: 14px;
  letter-spacing: var(--ls);
}

.about-us__img-container{
  text-align: center;
}

.about-us__img {
  padding-left: 0px;
  width: 65%;
}

/* footer */
.footer {
  background-color: var(--soft-dark);
}

.footer p {
  color: white;
  font-weight: lighter;
  letter-spacing: .5px;
}

.footer__address,
.footer__timetable,
.footer__useful-link-ul,
.footer__base {
  font-size: 14px;
  font-weight: lighter;
}

.footer__address {
  max-width: 80%;
  margin: 0 auto;
}

.footer__address img{
  width: 150px;
}

.footer__timetable{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  letter-spacing: 1.5px;
}

.footer__timetable td {
  padding:0 0 1rem 0;
  border-top: none !important;
  color: white;
}

.footer__timetable-caption {
  margin-left: 0;
  letter-spacing: 1.5px;
}

.footer__email:hover {
  text-decoration: none;
  color: var(--light-warning);
}

.footer__closed-design {
  background-color: var(--light-warning);
}

.footer__useful-link-title {
  letter-spacing: 1.5px;
}

.footer__useful-link-ul {
  list-style: none;
  margin:0;
  letter-spacing: 1.5px;
}

.footer__useful-link-li a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.footer__useful-link-li a:hover {
  color: var(--light-warning);
}

.footer__base {
  letter-spacing: 1px;
}

.footer__designer-link:hover {
  text-decoration: none;
  color: var(--light-warning);
}

/* social button group */
.footer__social-btn button {
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--light-dark);
  transition: 0.5s;
  color: white;
}

.footer__social-btn button:hover {
  background-color: #d97307;
}

/* fix code for customer review > owl carousel */
.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.owl-dot {
  border: 3px solid var(--main) !important;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: inherit;
  z-index: 2000;
  margin-right: 5px;
}

.owl-dot.active {
  border: 2px solid var(--main) !important;
  background-color: var(--main) !important;
}

.owl-dot:focus {
  outline: none;
}

/* fix code for our chef > owl carousel */
.owl-carousel {
  position: relative !important;
}

.owl-carousel .owl-item img {
  width: auto;
}

.owl-nav button {
  height: 100%;
  outline: none;
}
.owl-nav button.owl-prev {
  display: flex;
  position: absolute !important;
  top: 0px;
  left: -35px;
  align-items: center;
}

.owl-nav button.owl-next {
  display: flex;
  position: absolute !important;
  top: 0px;
  right: -35px;
  align-items: center;
}

.owl-nav button span {
  font-size: 100px;
  color: var(--light-warning);
}
.owl-nav button span:hover {
  color: var(--warning);
}

/* bootstrap fix code */
.card {
  border: none !important;
}

/* ABOUT */
/* about-banner */
.about-banner {
  background-image: url("../img/about/blog-7.jpg");
}

/* about-section */
.about-section__img {
  width: 100%;
  object-fit: cover;
}

.about__para{
  font-size: 14px;
}

/* our-story */
.our-story {
  background-color: var(--bg-color);
}
.our-story__story {
  padding: 0;
}
.our-story__story-des {
  margin-bottom: 20px;
}
.our-story__story-sign {
  display: block;
  margin: 0px auto;
  width: 150px;
}

/* experience */
.experience__bg {
  width: 100%;
  object-fit: cover;
}

/* BlOG */
/* blog-banner */
.blog-banner {
  background-image: url("../img/blog/blog-1.jpg");
}

/* blog-main */
.blog-main__search__text {
  position: relative;
  font-size: 15px;
  border: 1px solid #dddddd;
  transition: 0.4s;
  outline: none;
  color: #999999;
  padding: 10px;
  width: 100%;
  transition: 0.4s;
}
.blog-main__search__submit {
  position: absolute;
  background-color: transparent;
  text-decoration: none;
  border: none;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 45px;
  height: 45px;
}
.blog-main__search .fa-search {
  color: #dddddd;
}
.blog-main__search__text:focus {
  border: 1px solid var(--dark);
}
.blog-main__categories__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: var(--ls);
}
.blog-main__categories__list {
  list-style-type: none;
}
.blog-main__categories__item a {
  display: block;
  color: #999999;
  text-decoration: none;
  transition: 0.4s;
  border-top: 1px solid #dddddd;
  padding: 12px 0px;
  font-size: 14px;
  letter-spacing: var(--ls);
}
.blog-main__categories__item a:hover {
  color: var(--main);
}
.blog-main__recent__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: var(--ls);
}
.blog-main__recent__list {
  padding-top: 25px;
  border-top: 1px solid #dddddd;
}
.blog-main__recent__item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}
.blog-main__recent__img-container {
  width: 80px;
  overflow: hidden;
  margin-right: 10px;
}
.blog-main__recent__img {
  width: 100%;
  transition: 0.4s;
}
.blog-main__recent__img:hover {
  transform: scale(1.1);
}
.blog-main__recent__text {
  text-transform: uppercase;
  letter-spacing: var(--ls);
}
.blog-main__recent__date {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--main);
}
.blog-main__recent__link {
  font-size: 15px;
  color: var(--dark);
  font-weight: bold;
  display: block;
  overflow: hidden;
  height: 40px;
  line-height: 20px;
}
.blog-main__recent__link:hover {
  color: var(--dark);
}
.blog-main__tags__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: var(--ls);
}
.blog-main__tags__keywords {
  border-top: 1px solid #dddddd;
  padding-top: 15px;
}
.blog-main__tags__button {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #dddddd;
  padding: 5px 10px;
  margin: 0px 10px 10px 0px;
  background-color: var(--white);
  color: #999999;
  transition: 0.4s;
}
.blog-main__tags__button:hover {
  background-color: var(--main);
  color: var(--white);
  border: 1px solid var(--main);
  text-decoration: none;
}
.blog-main__tags__button:focus {
  outline: none;
}
.blog-main__news__img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.blog-main__news__img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: 0.4s;
}
.blog-main__news__img:hover {
  transform: scale(1.05);
}
.blog-main__news__writer {
  font-size: 18px;
}
.blog-main__news__title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: var(--ls);
  color: var(--dark);
}
.blog-main__news__title:hover {
  color: var(--dark);
}
.blog-main__news__readmore {
  text-transform: uppercase;
  color: var(--light-warning);
  text-decoration: underline;
  font-size: 18px;
  transition: 0.4s;
}
.blog-main__news__readmore:hover {
  color: var(--dark);
}
.blog-main__news__locater a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  border: 1px solid #999999;
  color: #999999;
  text-align: center;
  transition: 0.4s;
}
.blog-main__news__locater a:hover {
  text-decoration: none;
  border: 1px solid var(--dark);
  color: var(--dark);
}
.blog-main__news__locater a.active {
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--dark);
}
.blog-main__news__locater a.active:hover {
  transform: scale(1.03);
}

/* Blog-detail */
/* blog */
.blog__img {
  width: 100%;
}
.blog__writer {
  font-size: 18px;
}
.blog__para__title {
  font-size: 20px;
  color: var(--dark);
  letter-spacing: var(--ls);
  font-weight: 700;
}
.blog__para__text {
  color: #999999;
}
.blog__para__special-text {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.blog__tagname {
  list-style-type: none;
  text-align: center;
}
.blog__tagname li {
  display: inline-block;
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid #dddddd;
  border-radius: 20px;
}
.blog__tagname a {
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  color: #999999;
  letter-spacing: var(--ls);
  transition: 0.4s;
  line-height: 14px;
}

.blog__tagname a:hover {
  color: var(--white);
  background-color: var(--main);
  border: 1px solid var(--main);
}
.blog__special {
  background-color: #f5f5f5;
}

.blog__special__para{
  text-align: center;
}

.blog__special__title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: var(--ls);
}
.blog__special__text {
  color: #999999;
}
/* blog-detail-comment */
.blog__comment__title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--ls);
  font-size: 20px;
  text-align: center;
}
.blog__comment__box {
  border-top: 1px solid #dddddd;
}
.blog__comment__para{
  text-align: center;
}
.blog__comment__para p {
  color: #999999;
}
.blog__comment__reply{
  border: 1px solid var(--main);
  padding: 10px 30px;
  background-color: var(--main);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--ls);
  transition: 0.4s;
}
.blog__comment__reply:hover {
  color: var(--main);
  background-color: var(--white);
}
/* blog-post-comment */
.blog__post-comment__title {
  font-size: 20px;
  color: var(--dark);
  letter-spacing: var(--ls);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
/* blog-post-form */
.blog__post-comment__form input::-webkit-input-placeholder,
.blog__post-comment__form textarea::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: var(--ls);
}
.blog__post-comment__form-submit {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--ls);
  color: var(--white);
  border: 1px solid var(--main);
  background-color: var(--main);
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.4s;
}
.blog__post-comment__form-submit:hover {
  color: var(--main);
  background-color: var(--white);
  border: 1px solid var(--main);
}

/* blog-menu-1 */

.menu1 .menu__menu-tap {
  background-color: #ededed;
}
.menu1 .menu__menu-tap-item {
  color: var(--dark);
}
.menu1 .menu__menu-tap-item:hover {
  color: var(--white);
}

.menu1 .menu__menu-tap-item_active {
  color: var(--white);
  background-color: var(--main);
}

.menu1__item__img-container img {
  width: 100%;
  transition: 0.4s;
}
.menu1__item__img-container img:hover {
  transform: translateY(-10px);
}
.menu1__item__des {
  text-align: center;
}
.menu1__item__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: var(--ls);
}
.menu1__item__ingredient {
  list-style-type: none;
  color: #999999;
}
.menu1__item__ingredient li {
  display: inline;
}
.menu1__item__ingredient li:first-child::before {
  content: "";
}
.menu1__item__ingredient li::before {
  content: "/";
  padding: 0px 5px;
  font-weight: bold;
}
.menu1__item__text {
  font-size: 14px;
  color: #999999;
}
.menu1__item__link {
  color: var(--main);
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  text-transform: uppercase;
  transition: 0.4s;
}
.menu1__item__link:hover {
  color: var(--dark);
}

/* blog-menu2-main */
.menu2 .menu__menu-tap {
  background-color: #ededed;
}
.menu2 .menu__menu-tap-item {
  color: var(--dark);
}
.menu2 .menu__menu-tap-item:hover {
  color: var(--white);
}
.menu2 .menu__menu-tap-item_active {
  color: var(--white);
}
.menu2__card__img {
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.menu2__card__img img {
  width: 100%;
  transition: 0.4s;
}
.menu2__card__img img:hover {
  transform: scale(1.1);
}

.menu2__card__title {
  text-transform: uppercase;
  color: var(--dark);
  letter-spacing: var(--ls);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.menu2__card__title:hover {
  text-decoration: none;
  color: var(--main);
}

.menu2__card__price {
  font-weight: bold;
  font-size: 16px;
  color: var(--main);
}

.menu2__card__text {
  font-size: 14px;
  color: #888888;
  border-top: 1px solid #e4e4e4;
}

/* shop detail */

/* item-detail */

.item-detail__main-img {
  width: 400px;
}
.item-detail__para__title {
  font-weight: bold;
  letter-spacing: var(--ls);
}
.item-detail__para__price {
  font-weight: bold;
  font-size: 20px;
  color: var(--main);
}
.item-detail__para__text {
  font-size: 15px;
  color: #999999;
  letter-spacing: 0.5px;
}
.item-detail__para__heading {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.item-detail ul {
  list-style: none;
}
.item-detail ul li {
  display: inline;
}
.item-detail .item-detail__para__theme-option li a,
.item-detail .item-detail__para__size-option li a {
  display: inline-block;
  color: #999999;
  padding: 15px 30px;
  border: 1px solid #dddddd;
  text-transform: capitalize;
  transition: 0.4s;
  margin-right: 5px;
}
.item-detail ul.item-detail__para__theme-option li a:hover,
.item-detail ul.item-detail__para__size-option li a:hover {
  color: var(--white);
  background-color: var(--main);
  border: 1px solid var(--main);
  text-decoration: none;
}
.item-detail__para__qty-box {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #dddddd;
  transition: 0.4s;
  margin-right: 20px;
}
.item-detail__para__addcart p {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: var(--ls);
}
.item-detail__para__addcart-submit {
  height: 50px;
  font-size: 18px;
  background-color: var(--main);
  border: 1px solid var(--main);
  text-transform: uppercase;
  letter-spacing: var(--ls);
  color: var(--white);
  transition: 0.4s;
}
.item-detail__para__addcart-submit:hover {
  color: var(--main);
  background-color: var(--white);
}
.item-detail__para__qty-box:focus {
  outline: none;
  border: 1px solid var(--dark);
}
/* Chrome, Safari, Edge, Opera */
.item-detail input::-webkit-outer-spin-button,
.item-detail input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.item-detail input[type="number"] {
  -moz-appearance: textfield;
}
.item-detail__para__control {
  border-top: 1px solid #dddddd;
}
.item-detail__para__control a {
  color: var(--dark);
  transition: 0.4s;
}
.item-detail__para__control a:hover {
  color: var(--main);
  text-decoration: none;
}
.item-detail__para__social p {
  font-size: 20px;
}
.item-detail__para__social a {
  color: #999999;
}
/* des-container */
.item-detail__des-container {
  border: 1px solid #dddddd;
}
.item-detail__des__content {
  display: none;
}
.item-detail__des__control-btn {
  border-bottom: 1px solid #dddddd;
  display: flex;
}
.item-detail__des__control-btn button {
  font-size: 18px;
  color: var(--dark);
  text-transform: uppercase;
  border: none;
  background-color: var(--white);
  transition: 0.4s;
  outline: none;
}
.item-detail__des__control-btn .active {
  background-color: var(--main);
  color: var(--white);
}
.item-detail__des__para p {
  font-size: 16px;
  color: #999999;
}

/* des-comment */
.item-detail__des__comment-container {
  border-bottom: 1px solid #dddddd;
}
.item-detail__des__comment-img {
  border-radius: 50%;
}
.item-detail__des__comment-date {
  font-weight: normal;
  color: #999999;
}
.item-detail__des__comment-text {
  color: #999999;
}
.item-detail__des__comment-reply a {
  color: var(--white);
  background-color: var(--main);
  border: 1px solid var(--main);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
}
.item-detail__des__comment-reply a:hover {
  color: var(--main);
  background-color: white;
  border: 1px solid var(--main);
}
/* comment-post-section */
.item-detail__des__comment-post__btn {
  color: var(--white);
  background-color: var(--light-dark-2);
  border: none;
  transition: 0.4s;
}
.item-detail__des__comment-post__btn:hover {
  color: var(--white);
  background-color: var(--dark);
}

/* related-products */
/* pizza-item-carousel */
.related-products__pizza-img {
  transition: 0.4s;
}
.related-products__pizza-img:hover {
  transform: translateY(-10px);
}
.related-products__para__title {
  letter-spacing: var(--ls);
  color: var(--dark);
  transition: 0.3s;
}

.related-products__para__title:hover {
  text-decoration: none;
  color: var(--main);
}

.related-products__para__text {
  font-size: 14px;
  color: #999999;
  letter-spacing: var(--ls);
}
.related-products__para__price {
  color: var(--main);
  font-size: 18px;
  font-weight: bold;
}

/* shop-categories */
/* categories */

.categories__showcase {
  background-image: url("../img/shop-categories/crust.jpg");
  background-size: cover;
  width: 100%;
  background-position: center;
}
.categories__showcase .categories__showcase__title,
.c-showcase-text {
  color: var(--white);
}
.categories__showcase .categories__showcase__title span {
  color: var(--main);
}

.categories__showcase__text {
  font-size: 14px;
  color: var(--white);
}
/* c-filter */
.categories__filter {
  border: 1px solid #dddddd;
}
.categories__filter span {
  color: #999999;
  white-space: nowrap;
}
.categories__filter-left {
  background-color: #dddddd;
}
.categories__filter-right {
  width: 100%;
}

/* custom-select */
/* select-items class is the items which will appear when dropdown is 
clicked(u can find that in app.js >> custom-select >> closeAllSelect -function) */

.c-select-item {
  position: relative;
  font-size: 16px;
  letter-spacing: var(--ls);
}
.c-select-item select {
  display: none;
}
/* this part is in custom-select but they are also connect with app.js.. */
.select-selected {
  text-align: center;
  padding: 1rem 0px;
  transition: 0.4s;
  user-select: none;
}
.select-selected:hover {
  color: var(--main);
}

.select-selected::after {
  position: absolute;
  content: "";
  top: 28px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--dark) transparent transparent transparent;
}

.categories__price__select .select-selected::after {
  right: 27px;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--dark) transparent;
  top: 20px;
}
.select-items div,
.select-selected {
  color: #999999;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items div {
  border-top: 1px solid #dddddd;
  padding: 0.75rem 1rem;
}
.select-items div:first-child {
  border-top: 0px;
}

.select-items {
  position: absolute;
  background-color: var(--white);
  border: 1px solid #dddddd;
  top: 100%;
  left: 40px;
  right: -40px;
  z-index: 99;
  transition: 0.4s;
}
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* parts connect with js might be done here  */
.categories__pizza-item-img {
  width: 150px;
  transition: 0.3s;
}

.categories__pizza-item-text{
  font-size: 14px;
  color: #999999;
}

.categories__pizza-item-price{
  font-weight: bold;
  color: var(--main);
}

.categories__pizza-item-img:hover {
  transform: translateY(-10px);
}

.categories__pizza-item-title {
  transition: 0.3s;
  color: var(--dark);
}

.categories__pizza-item-title:hover {
  color: var(--main);
  text-decoration: none;
}

.categories__order-btn {
  background-color: var(--dark);
  color: var(--white);
  outline: none;
  border: 1px solid var(--dark);
  font-size: 16px;
  letter-spacing: var(--ls);
  padding: 5px 15px;
  transition: 0.3s;
}

.categories__order-btn:hover {
  background-color: var(--white);
  color: var(--dark);
}

/* reservation */

.reservation__input {
  border-radius: 30px;
}
.reservation__input:focus {
  border: 1px solid var(--main);
  box-shadow: 0 0 0 0.2rem rgb(253 157 62 / 15%);
}

.reservation .c-select-item select {
  display: none;
}
.reservation .select-selected {
  text-align: left;
  padding: .5rem 1rem;
  transition: 0.4s;
  user-select: none;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.reservation .select-selected:hover {
  color: var(--main);
}
.reservation .select-selected::after {
  position: absolute;
  content: "";
  top: 20px;
  right: 25px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--dark) transparent transparent transparent;
}
.reservation .select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--dark) transparent;
  top: 10px;
}
.reservation .select-items div,
.reservation .select-selected {
  color: #999999;
  cursor: pointer;
}
.reservation .select-items div {
  border-top: 1px solid #dddddd;
  padding: .5rem 1rem;
}
.reservation .select-items div:first-child {
  border-top: 0px;
}

.reservation .select-items {
  position: absolute;
  background-color: var(--white);
  border: 1px solid #dddddd;
  top: 100%;
  left: 0px;
  right: 0px;
  z-index: 99;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}
.reservation .select-hide {
  display: none;
}
.reservation .select-items div:hover,
.reservation .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.reservation .res-border {
  border: 1px solid var(--main);
}
.reservation .form-control {
  padding: .5rem 1rem;
  transition: 0.4s;
  user-select: none;
  border: 1px solid #ddd;
  border-radius: 30px;
  height: inherit;
  text-transform: capitalize;
}
.reservation .form-control:focus {
  border: 1px solid var(--main);
}
.reservation__btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 6px 30px;
  background-color: var(--main);
  color: var(--white);
  border: 1px solid var(--main);
}
.reservation__btn:hover {
  background-color: var(--white);
  color: var(--main);
  border: 1px solid var(--main);
}
/* cart */
.cart__table-container{
  position: relative;
}

.cart__table-scroll{
  width: 100%;
  display: block;
  overflow: scroll;
}
.cart table {
  table-layout: auto;
}

.cart th,.cart td{
  white-space: nowrap;
}

.cart table td img {
  width: 100px;
  border: 1px solid #ddd;
  padding: 0.5rem;
}
.cart table td {
  vertical-align: middle;
}
.cart__price {
  color: var(--danger);
  font-size: 18px;
  font-weight: bold;
}
.cart__qty select {
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.cart__qty select:focus {
  outline: none;
  border: 1px solid var(--dark);
}
.cart__action a {
  color: var(--white);
  background-color: var(--main);
  border: 1px solid var(--main);
  padding: 10px 15px;
  transition: 0.4s;
}
.cart__action a:hover {
  color: var(--main);
  background-color: var(--white);
  border: 1px solid var(--main);
}

.cart__border-bottom {
  border-bottom: 1px solid #ddd;
}

.cart__btn,
.cart__proceed-btn a {
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--main);
  background-color: var(--main);
  color: var(--white);
  padding: 10px;
  transition: 0.4s;
  letter-spacing: var(--ls);
  text-align: center;
  font-size: 14px;
}
.cart__btn:hover,
.cart__proceed-btn a:hover {
  border: 1px solid var(--main);
  background-color: var(--white);
  color: var(--main);
  text-decoration: none;
}
.cart .mt {
  margin-top: 3rem;
}
.cart .mb {
  margin-bottom: 3rem;
}
.cart__right-container table {
  text-transform: capitalize;
}
.cart__proceed-container {
  border-top: 1px solid #ddd;
}
.cart__proceed-btn a {
  display: block;
}
/* checkout */
.checkout__order-item {
  border-bottom: 1px solid #dddddd;
}
.checkout__order-item__img-container img {
  width: 80px;
  border: 1px solid #dddddd;
}
.checkout__order-item__text {
  color: var(--dark);
  letter-spacing: 0.5px;
  transition: 0.3s;
}
.checkout__order-item__text:hover {
  color: var(--main);
  text-decoration: none;
}
.checkout__order-item__price {
  font-size: 18px;
  color: var(--main);
}
.checkout__order-item__qty {
  color: #999999;
}

.checkout__order-bill table {
  background-color: #e5e5e555;
}

.checkout__order-bill table tr {
  border: 1px solid #dee2e6;
}
.checkout__order-bill table tr td:first-child {
  font-weight: bold;
}
.checkout__order-bill__price {
  font-weight: bold;
  font-size: 18px;
  color: var(--main);
}
.checkout__order-bill__btn {
  display: block;
  width: 100%;
  border: 1px solid var(--main);
  background-color: var(--main);
  color: var(--white);
  outline: none;
  transition: 0.4s;
}
.checkout__order-bill__btn:hover {
  color: var(--main);
  background-color: var(--white);
}
.checkout__order-bill__btn:focus {
  outline: none;
}

.checkout .form-check-input,
.checkout .form-check-label {
  color: #999999;
}
.checkout__shipping-details__note-title {
  font-size: 18px;
}
.checkout__shipping-details__note-box {
  border: 1px solid #dddddd;
}
.checkout__shipping-details__note-box p {
  color: #999999;
}

/* contact */
.contact__detail__title {
  letter-spacing: var(--ls);
  font-size: 35px;
}
.contact__detail__para {
  font-size: 14px;
  color: #999999;
}
.contact__detail ul {
  list-style-type: none;
}
.contact__detail li {
  height: 40px;
}

.contact__detail__list a {
  color: var(--dark);
  transition: 0.3s;
  font-size: 14px;
}
.contact__detail__list a:hover {
  text-decoration: none;
  color: var(--main);
}
.contact__detail__list i {
  color: var(--main);
  font-size: 22px;
}
.contact__detail__list li {
  vertical-align: middle;

}
.contact__form__btn {
  display: block;
  width: 100%;
  color: var(--white);
  background-color: var(--main);
  border: 1px solid var(--main);
  transition: 0.4s;
  font-size: 16px;
  letter-spacing: var(--ls);
}
.contact__form__btn:hover {
  color: var(--main);
  background-color: var(--white);
}
.contact__form__btn:focus {
  outline: none;
}

/* scroll-arrow */
.scroll-arrow {
  position: fixed;
  color: var(--white);
  font-size: 30px;
  width: 50px;
  background-color: #fbf321;
  border-radius: 100%;
  text-align: center;
  width: 40px;
  height: 40px;
  right: 25px;
  bottom: 25px;
  z-index: 2002;
  text-decoration: none;
  transition: 0.4s;
  line-height: 40px;
}

.scroll-arrow:hover {
  color: var(--white);
  background-color: #ffb742;
}

/* responsive */
@media only screen and (min-width: 576px) {
  /* home */
  .home-big-text{
    font-size: 60px;
  }
  .home-caption-quote{
    letter-spacing: 3px;
  }
  .pizza-banner-1,.pizza-banner-2{
    max-width: 200px !important;
  }
  .pizza-banner-3{
    max-width: 500px !important;
  }
}
@media only screen and (min-width: 768px) {
  
  /* responsive reuse md */
  .heading-sub{
    font-size: 25px;
  }
  .title-sub{
    font-size: 50px;
  }

  .viewmore-btn{
    padding: .75rem 2rem .75rem 2rem;
  }

  .owl-carousel .owl-item img{
    max-width: 320px;
    display: block;
  }

  /* nav responsive */
  .order-btn{
    font-size: 16px;
  }
  
  /* home */
  
  .home-big-text{
    font-size: 90px;
  }

  .home-caption-quote{
    letter-spacing: 9px;
  }

  .home__left{
    left: 10px;
    top: 40vh;
    font-size: 32px;
  }

  .home__right{
    right: 10px;
    top: 40vh;
    font-size: 32px;
  }

  .home__showcase-1,.home__showcase-2{
    padding: 100px 50px;
    min-height: auto;
    max-height: 120vh;
    overflow: hidden;
  }

  .home__showcase-3{
    padding: 100px 0 0 0;
    margin: 0 0 0 0;
    width: 100%;
    min-height: 50vh;
  }

  .pizza-banner-1,.pizza-banner-2{
    max-width: 330px !important;
  }

  .pizza-banner-3{
    max-width: 700px !important;
    margin-bottom: 15px;
  }

  .home__showcase-1__text,.home__showcase-2__text{
    text-align: left;
  }

  /* services responsive   */
  .services__card{
    padding: 0 .5rem;
  }

  .services__top-img{
    margin-top: -50px;
    z-index: 1;
  }
  .services__bottom-img{
    margin-bottom: -50px;
  }
  .services__caption{
    font-weight: bolder;
    font-size: 25px;
    color: var(--dark);
    margin: 0;
  }
  /* today special */
  .today-special{
    margin-top: 3rem;
  }
  .today-special__caption{
    font-size: 20px;
  }
  .today-special__pizza-img{
    width: 200px;
    height: 200px;
  }
  /* menu responsive */
  .menu__menu-top{
    margin-top: -10px;
  }
  .menu__menu-tap-item{
    min-width: 75px;
    min-height: 50px;
  }
  .menu__menu-item{
    width: 150px;
  }
  .menu__menu-item__description{
    margin:0;
  }
  /* booking responsive */
  .booking__container{
    margin-right: 0;
    text-align: left;
  }
  .booking__phone{
    font-size: 25px;
    max-width: 300px;
    border: 10px solid var(--main);
    letter-spacing: var(--ls);
    font-weight: bold;
    margin: 0;
  }
  .booking__book-btn{
    padding: .5rem 2rem;
  }
  /* our chef responsive */
  .chef__left,.chef__right{
    font-size: 30px;
    top: 40%;
  }
  .chef-bottom{
    margin-bottom: -85px;
  }
  /* latest news responsive */
  .latest-news__date-container{
    bottom: -20px;
    right: 15px;
    width: 65px;
    height: 65px;
  }
  .latest-news__date{
    bottom: -16px;
    right: 19px;
    width: 57px;
    height: 57px;
  }
  .latest-news__title{
    font-size: 17px;
  }
  /* customer-review */
  .customer-reviews__customer::after {
    content: " ";
    position: absolute;
    left: -14px;
    top: 42%;
    border-top: 15px solid transparent;
    border-right: 15px solid var(--white);
    border-left: none;
    border-bottom: 15px solid transparent;
  }
  .customer-reviews__img{
    width: 100px !important;
  }
  .customer-reviews__img-caption{
    font-size: 18px;
  }
  .review-bottom{
    margin-bottom: -30px;
  }

  /* about-us */
  .about-us__content{
    text-align: left;
  }
  .about-us__description{
    width: 100%;
  }
  .about-us__img{
    width: 90%;
    padding-left: 0;
    margin-top: -120px;
  }
  /* footer responsive */
  .footer__address{
    max-width: 45%;
    margin: 0 auto;
  }
  .footer__address img{
    width: 150px;
  }
  .footer__timetable-caption{
    margin-left: 0;
  }
  .footer__timetable{
    width: 45%;
    margin: 0 auto;
    text-align: left;
  }
  .footer__timetable td{
    padding:0 0 1rem 0;
  }

  .footer__useful-link-ul{
    margin:0;
  }

  /* 768 banner */
  .banner-bg{
    padding: 150px 0 50px 0;
  }
  
  .banner-heading{
    font-size: 42px;
  }

  /* 768 Blog detail */
  .blog__para__title{
    font-size: 26px;
  }
  .blog__para__special-text{
    padding: 60px 20px;
  }

  .blog__tagname li{
    padding: 8px 30px;
    font-size: 16px;
  }

  .blog__special__para{
    text-align: left;
  }

  .blog__comment__title{
    font-size: 26px;
    text-align: left;
  }

  .blog__comment__para{
    text-align: left;
  }

  .blog__post-comment__title{
    font-size: 26px;
    text-align: left;
  }

  .blog__post-comment__form-submit{
    padding: 15px 25px;
  }

  /* 768 our story */
  .our-story__story-sign{
    width: auto;
  }

  /* 768 blog */
  .blog-main__news__title{
    font-size: 25px;
  }

  .blog-main__recent__title,.blog-main__categories__title,.blog-main__tags__title{
    font-size: 20px;
  }

  .blog-main__recent__date{
    font-size: 16px;
  }

  .blog-main__recent__item{
    flex-direction: column;
    align-items: flex-start;
  }

  /* 768 cart */
  .cart__btn{
    padding: 15px;
    font-size: 16px;
  }

  .cart__proceed-btn a{
    padding: 15px;
    font-size: 16px;
  }

  /* 768 menu 1 */
  .menu1__item__title{
    font-size: 20px;
  }

  /* 768 menu 2 */
  .menu2__card__title,.menu2__card__price{
    font-size: 20px;
  }

  /* 768 reservation */

  .reservation{
    background: url("../img/table-book.jpg") no-repeat center/cover;
  }

  .reservation__btn{
    font-size: 20px;
    padding: 5px 50px;
  }

  /* 768 shop categories */
  .categories__pizza-item-title{
    font-size: 18px;
  }

  .categories__pizza-item-price{
    font-size: 18px;
  }

}
@media only screen and (min-width: 992px){
  .owl-carousel .owl-item img{
    max-width: 450px;
  }
  /* reuse responsive */
  .heading-sub{
    font-size: 30px;
  }
  .title-sub{
    font-size: 60px;
  }
  /* header */
  .header{
    position: absolute;
    top: 0;
    z-index: 2001;
    overflow:visible;
  }
  .header__dropdown{
    height: 60px;
  }
  /* nav responsive */
  .pizza-logo{
    width: 100px;
  }
  .header .navbar{
    padding: 0 1rem;
  }
  .pizza-nav .navbar-nav{
    background-color: transparent;
    width: 120%;
  }
  
  .pizza-nav .nav-item{
    font-size: 18px;
  }
  /* home*/
  .home::before{
    height: 120%;
  }
  .home-big-text{
    font-size: 120px;
  }
  .home-caption-quote{
    font-size: 18px;
  }
  .home__showcase-1,.home__showcase-2{
    min-height: auto;
  }
  .pizza-banner-1{
    right: -1980px;
  }
  .pizza-banner-1,.pizza-banner-2{
    max-width: 450px !important;
  }
  .pizza-banner-3{
    max-width: 900px !important;
    margin-bottom: -360px;
    padding: 0;
  }
  .home__left,.home__right
  {
    top: 50vh;
    font-size: 38px;
  }
  /* services */
  .services__top-img{
    margin-top: -70px;
  }
  /* today special */
  .today-special__pizza-img{
    width: 280px;
    height: 280px;
  }
  .today-special__caption{
    font-size: 25px;
  }
  /* menu */
  .menu__menu-item{
    width: 180px;
  }
  .menu__menu-tap-item{
    min-width: 90px;
  }
  /* booking */
  .booking__phone{
    font-size:35px;
    min-width: 350px;
    min-height: 100px;
  }
  .booking__book-btn{
    padding: 1rem 2.5rem;
  }
  /* our chef */
  .chef__left,.chef__right{
    font-size: 38px;
  }
  .chef-bottom{
    margin-bottom: -104px;
  }
  /* latest news */
  .latest-news__date-container{
    bottom: -30px;
    right: 45px;
    width: 76px;
    height: 76px;
  }
  .latest-news__date{
    bottom: -27px;
    right: 48px;
    width: 70px;
    height: 70px;
  }
  .latest-news__title{
    font-size: 18px;
  }
  /* customer review */
  .customer-reviews__img{
    width: 120px !important;
  }
  .customer-reviews__customer{
    text-align: left;
  }
  /* about us */
  .about-us__img{
    width: 70%;
    margin-top: -120px;
  }
  .about-us__img-container{
    text-align: center;
  }
  /* footer */
  .footer__address{
    max-width:90% !important;
  }
  .footer__timetable{
    width: auto;
    margin: 0;
  }
  /* 992 banner bg */
  .banner-heading{
    font-size: 46px;
  }

  /* 992 blog detail*/

  .blog__para__special-text{
    padding: 40px 60px;
  }

  .blog__para__special-text{
    margin-bottom: 1.25rem;
  }

  .blog__para__special-text p{
    line-height: 2;
  }

  .blog__tagname li{
    padding: 8px 35px;
  }

  /* 992 about us */
  /* 992 our story */
  .our-story__story-des{
    margin-bottom: 40px;
  }
  
  /* 992 cart */
  .cart .mt{
    margin-top: 6rem;
  }
  .cart .mb{
    margin-bottom: 6rem;
  }

  /* 992 reservation */

  .reservation .form-control{
    padding: 1rem 2rem;
  }

  .reservation .select-selected {
    padding: 1rem 2rem;
  }

  .reservation .select-selected::after{
    top: 27px;
  }

  .reservation .select-selected.select-arrow-active:after{
    top: 17px;
  }

  .reservation .select-items div{
    padding: 1rem 2rem;
  }

  .reservation__btn{
    padding: 11px 170px;
    font-size: 24px;
  }

  /* 992 shop categories */
  .categories__pizza-item-img{
    width: 200px;
  }

  .categories__showcase__title{
    font-size: 40px;
  }

  .categories__showcase__text{
    font-size: 16px;
  }
  
}
@media only screen and (min-width: 1200px){
  .owl-carousel .owl-item img{
    max-width: 550px;
  }
  /* reuse */
  .heading-sub{
    font-size: 27px;
  }
  .title-sub{
    font-size: 75px;
  }
  .viewmore-btn{
    padding: 1.25em 2.75em;
  }
  .pizza-logo{
    width: 180px;
  }
  /* home */
  .home::before{
    height: 150%;
  }
  .home__left,
  .home__right {
    font-size: 50px;
  }
  .home__showcase-1,.home__showcase-2{
    padding: 100px;
    margin-bottom: 50px;
  }
  .home-big-text{
    font-size: 150px;
  }
  .home-caption-quote{
    font-size: 25px;
  }
  .pizza-banner-1,.pizza-banner-2{
    max-width: 500px !important;
  }
  .pizza-banner-3{
    max-width: 1050px !important;
    bottom: -1000px;
  }
  .active .pizza-banner-3 {
    transform: translateY(-950px);
  }
  .pizza-bg-2{
    right: 140px;
    bottom: -190px;
  }
  .pizza-bg-3{
    right: 100px;
    top: 50px;
  }
  .pizza-bg-4{
    left: 400px;
    top: 50px;
  }
  .pizza-bg-5{
    left: 170px;
    bottom: -170px;
  }
  /* services */
  .services__top-img{
    margin-top: -80px;
  }
  .services__bottom-img{
    margin-bottom: -90px;
  }
  .services__order-icon{
    width: 100px;
  }
  .services__para{
    font-size: 16px;
  }
  .services__caption{
    font-size: 30px;
  }
  /* menu */
  .menu__menu-tap-item{
    min-width: 100px;
    min-height: 50px
  }
  /* today special */
  .today-special__pizza-img{
    width: 350px;
    height: 350px;
  }
  .today-special__caption{
    font-size: 25px;
  }
  /* booking */
  .booking__container{
    max-width: fit-content;
  }
  .booking__phone{
    max-width: 368px;
    font-size: 35px;
  }
  .booking__book-btn{
    padding: 1rem 2.5rem;
  }
  /* our chef */
  .chef__left,.chef__right{
    top: 130px;
    font-size: 50px;
  }
  .chef-bottom{
    margin-bottom: -174px;
  }
  /* customer review */
  .customer-reviews__img{
    width: 140px !important;
  }
  /* latest news */
  .latest-news__date-container{
    bottom: -30px;
    right: 45px;
    width: 76px;
    height: 76px;
  }
  .latest-news__date{
    bottom: -27px;
    right: 48px;
    width: 70px;
    height: 70px;
  }
  .latest-news__title{
    font-size: 18px;
  }
  /* customer review */
  .review-top{
    margin-top: -10px;
  }
  /* about-us */
  .about-us__img{
    width: 65%;
    margin-top: -150px;
  }
  /* footer */
  .footer__address img{
    width: auto;
  }
  /* 1200 banner */
  .banner-bg{
    padding: 150px 0 100px 0;
  }
  /* 1200 blog detail */
  .blog__para__title{
    font-size: 30px;
  }
  .blog__para__special-text{
    padding: 40px 100px;
  }

  .blog__post-comment__form-submit{
    padding: 15px 30px;
  }

  /* 1200 blog */
  .blog-main__search__text{
    padding: 20px;
  }
  .blog-main__search__submit{
    width: 60px;
    height: 60px;
  }

  .blog-main__news__title{
    font-size: 30px;
  }

  .blog-main__recent__title,.blog-main__categories__title,.blog-main__tags__title{
    font-size: 24px;
  }

  .blog-main__recent__item{
    flex-direction: row;
  }

  .blog-main__recent__img-container{
    width: 100px;
  }

  .blog-main__recent__list{
    font-size: 18px;
  }
}
@media only screen and (min-width: 1400px){
  .home__left{
    top: 50vh;
    left: 2%;
  }
  .home__right{
    top: 50vh;
    right: 2%;
  }
  .home__showcase-1,.home__showcase-2{
    padding: 100px 100px 50px 100px;
  }
  
  .active .pizza-banner-3 {
    transform: translateY(-1020px);
  }

  .pizza-bg-3{
    right: 350px;
  }
  .pizza-bg-2{
    right: 400px;
  }
  .pizza-bg-4{
    left: 650px;
  }
  .pizza-bg-5{
    left: 450px;
  }
  /* services */
  .services__top-img{
    margin-top: -100px;
    width: 100%;
  }
  .services__bottom-img{
    margin-bottom: -100px;
    width: 100%;
  }
  /* menu */
  .menu__menu-top,.menu__menu-bottom{
    width: 100%;
  }
  /* our-chef */
  .chef-top{
    width: 100%;
  }
  .chef-bottom{
    width: 100%;
    margin-bottom: -235px;
  }
}
@media only screen and (min-width: 1600px) {
  .home__showcase-1,.home__showcase-2{
    padding: 100px 300px;
  }
}
@media only screen and (min-width: 1800px) {
  .home__showcase-1,.home__showcase-2{
    padding: 100px 400px;
  }
  .home__left,.home__right{
    top: 35vh;
  }
}
@media only screen and (min-width: 2000px) {
  .home__showcase-1, .home__showcase-2{
    padding: 100px 700px;
  }
}