.header__cart-dropdown-content {
  position: absolute;
  display: none;
  background-color: var(--white);
  z-index: 2000;
  /* right: 10px; */
  /* width: 220%; */
  padding: 10px 20px;
  border-top: 3px solid var(--main);
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
  top: 58px;
}

.header__cart-dropdown-content {
  position: absolute;
  display: none;
  background-color: var(--white);
  z-index: 2000;
  right: 10px;
  width: 220%;
  padding: 10px 20px;
  border-top: 3px solid var(--main);
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
  top: 60px;
}