/* lg position */

.pizza-1{
    right: 100px;
    top: 40px;
  }
  .pizza-2{
    top: 15px;
    left: 130px;
  }
  .pizza-3{
    top: 50px;
    left: 65px;
  }
  .pizza-4{
    right: 100px;
    bottom: 40px;
  }
  .pizza-5{
    right: 50px;
    bottom: 90px;
  }
  .pizza-6{
    right: 15px;
    bottom: 140px;
  }
  .pizza-7 {
    left: 160px;
    top: -50px;
  }
  .pizza-8 {
    left: 0px;
    bottom: 0px;
  }
  
  .pizza-9 {
    right: 65px;
    top: -35px;
  }
  .pizza-10 {
    right: 0;
    bottom: -30px;
  }
  .pizza-11 {
    right: 0px;
    top: 25px;
  }
  .pizza-12 {
    left: 45px;
    top: 0px;
  }